(
    state: (
        constants: {},
        functions: {
            "factorial": ([
                If(BinaryOp(Lt, Arg("n"), Value(2)), [
                    Return(Value(1)),
                ], [
                    Return(BinaryOp(Mul, Arg("n"), Call("factorial", {
                        "n": BinaryOp(Sub, Arg("n"), Value(1)),
                    }))),
                ]),
            ]),
            "main": ([
                For(Range(
                    item: "it",
                    start: Value(0),
                    stop: Arg("n"),
                    step: Value(1),
                    mode: Exclusive,
                ), [
                    If(BinaryOp(Eq, Var("it"), BinaryOp(Sub, Arg("n"), Value(1))), [
                        Return(Call("factorial", {
                            "n": Arg("init"),
                        })),
                    ], [
                        Drop(Call("factorial", {
                            "n": Arg("init"),
                        })),
                    ]),
                ]),
            ]),
        },
    ),
)